<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Chanakya University</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome for Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- <link href="styles.css" rel="stylesheet"> -->
</head>
<body>


<!-- Main Content -->
<div class="container mt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">School of Arts, Humanities and Social Sciences</a>
                <a href="#" class="list-group-item list-group-item-action">School of Management Sciences</a>
                <a href="#" class="list-group-item list-group-item-action">School of Mathematics and Natural Sciences</a>
                <a href="#" class="list-group-item list-group-item-action">School of Law, Governance and Public Policy</a>
                <a href="#" class="list-group-item list-group-item-action">School of Biosciences</a>
                <a href="#" class="list-group-item list-group-item-action">School of Engineering</a>
            </div>
        </div>

        <!-- Course Cards -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/images/law.png" class="card-img-top" alt="Course Image">
                        <div class="card-body">
                            <h5 class="card-title">B.A. (Hons.)</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/images/boy.png" class="card-img-top" alt="Course Image">
                        <div class="card-body">
                            <h5 class="card-title">B.A. (Hons.) With Civil Services Examination Preparation Stream</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/images/art.png" class="card-img-top" alt="Course Image">
                        <div class="card-body">
                            <h5 class="card-title">M.A.</h5>
                        </div>
                    </div>
                </div>
                <!-- Additional course cards -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/images/edu1.png" class="card-img-top" alt="Course Image">
                        <div class="card-body">
                            <h5 class="card-title">M. Sc. Psychology</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/images/engineer.png" class="card-img-top" alt="Course Image">
                        <div class="card-body">
                            <h5 class="card-title">Engineering</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-light py-4 mt-5">
  <div class="container text-center">
    <h5>"Discover your potential.</h5>
    <h4>Shape your future."</h4>
      <p>© 2024 CHANAKYA UNIVERSITY. All Rights Reserved.</p>
  </div>
</footer>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
